@layout('layouts.invitation') 

@section('content')

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Welcome {{ data.firstname}}</h4>
    <p class="card-text">
    You can now loggin with your accompte.
    </p>

    <button type="button" class="btn btn-primary btn-lg btn-block">Go to login page</button>

  </div>
</div>


@endsection
