@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #E9E9E9;
}

* {
  margin: 0;
  padding: 0;
}

.backoffice {
  max-width: 100%;
}

.backoffice-nav {
  width: 200px;
  height: 100vh;
  /* ADJUSTMENT */
  background: #39383D;
  margin: 0;
  padding-top: 50px;
}

.backoffice-container {
  margin-top: 50px;
}

.backoffice-content {
  padding: 20px;
}
