<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    @include('layouts._styles')

  </head>
  <body>
  @include('layouts._nav')
  <div class="container backoffice">
    <div class="row">
    <div class="col-lg-2 backoffice-nav">
      @include('layouts._side-menu')
    </div>
    <div class="col-lg-10 backoffice-container">
      <div class="backoffice-content">
        @!section('content')
      </div>
    </div>
  </div>
    
  </div>
  @include('layouts._javascript')

  </body>
</html>