<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    @include('layouts._styles')

  </head>
  <body>

  <div class="container">

    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <div class="backoffice-content">
          @!section('content')
        </div>
      </div>
    </div>
    
  </div>

  </body>
</html>